---
name: Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  # unit tests
  units:
    name: Test Javascript
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set Node.js 16.x
      uses: actions/setup-node@v3.6.0
      with:
        node-version: 16.x
        cache: npm

    - name: Install Dependencies
      run: npm ci

    - name: Run Lint Test
      run: npm run lint

    - name: Run tests
      run: npm test

  e2e:
    name: Test Updatecli Github Action
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3

      - name: Install Updatecli
        uses: ./

      - name: Test local action without install-only
        run: updatecli diff --config testdata/updatecli.d/test.yaml
