---
name: Test

on:
  merge_group:
    branches:
      - v2
  workflow_dispatch:
  pull_request:

jobs:
  # unit tests
  units:
    name: Test Javascript
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set Node.js 20.x
      uses: actions/setup-node@v4.0.4
      with:
        node-version: 20
        cache: npm

    - name: Install Dependencies
      run: npm ci

    - name: Run Lint Test
      run: npm run lint

    - name: Run tests
      run: npm test

  e2e:
    name: Test Updatecli Github Action
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Install Updatecli
        uses: ./

      - name: Test local action without install-only
        run: updatecli diff --config testdata/updatecli.d/test.yaml
