---
name: Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  # unit tests
  units:
    name: Test Javascript
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: npm run lint
    - run: npm ci
    # No test 
    # - run: npm test
  test:
    name: Test Updatecli Github Action
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3

      - name: Test local action with install-only
        uses: ./
        with:
          install-only: true

      - name: Test local action without install-only
        uses: ./
        with:
          arg: "diff --config testdata/updatecli.d/test.yaml"
