---
name: updatecli

on:
  merge_group:
    branches:
      - v2
  push:
    branches:
      - v2
  schedule:
    # Run once a day
    - cron: '*/10 * * * *'
  workflow_dispatch:

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Setup updatecli"
        uses: "updatecli/updatecli-action@v2"

      - name: "Run updatecli in dryrun"
        run: "updatecli compose diff"
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Run updatecli"
        if: github.ref == 'refs/heads/v2'
        run: "updatecli compose apply"
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

